
<form class="card" novalidate FormGroup ="frmgroup"(ngSubmit)="onsub()">
    <div>
        <h5 class="text-muted">Data Driven forms(Reactive)</h5>
    </div>
<div>
    <input type="text" placeholder="username" formControlName="usNm" name="usnm"> 
    <p *ngIf="frmgroup.controls.usNm.errors?.required">Enter User Name</p>
    <p *ngIf="!frmgroup.controls.usNm.errors?.isStartWithA"> User Name should start from a or A</p>
</div>
<div>
    <input type="text" placeholder="Email"  formControlName="em" name="em">
    <p *ngIf="frmgroup.controls.em.errors?.required"> Enter Email</p>
    <p *ngIf="frmgroup.controls.em.errors?.email">Enter Valid Email</p>

    <p *ngIf="frmgroup.controls.em.errors?.taken"> Email address is already taken</p>
</div>
<div>
    <input type="text" placeholder="Password"   formControlName="pass" name="pass">
    <p *ngIf="frmgroup.controls.pass.errors?.required">Enter Password</p>
</div>
<div>
    <input type="text" placeholder="ConfirmPassword">
    <p>Enter Confirm Password</p>
</div>

<div>
    <input [disabled]="!frmgroup.Valid"type="submit" value="submit" class="btn btn-info">
</div>
</form>
